<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788373510434-cvuivjlntu11th8481bb7f7cni9q7qln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788373510434-cvuivjlntu11th8481bb7f7cni9q7qln</string>
	<key>API_KEY</key>
	<string>AIzaSyDraGALl-5oeh6v29Vs0ll_TPbCKd-ua_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>788373510434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.willmed</string>
	<key>PROJECT_ID</key>
	<string>willmed</string>
	<key>STORAGE_BUCKET</key>
	<string>willmed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788373510434:ios:8546b71b17792873462d7b</string>
</dict>
</plist>